@font-face {
  font-family: 'forLOGO';
  src: url(/assets/Thalib\ Textured.ttf);
}



*{
  margin: 0;
}

.App{
  /* padding: 20px; */
}

.main-logo{
  text-shadow: 1px 1px 30px #ffffff43;
  font-family: forLOGO;
}

.topbar{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}